#initial-form {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('./form-background.png');
  color: white;
  border-style: solid;
  border-radius: 25px;
}

#map {
  border-style: solid;
  border-radius: 25px;
  border-color: white
}

#map-title {
  color: white
}

#title {
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px black;
}

.sound-wave {
  height: 80px;
  width: 340px;
}